<div class="container">
  <div class="row g-3 somu">
     
    <div class="col-12 col-sm-6">
      <input type="text" class="form-control" id="name" placeholder="Input Range" [(ngModel)]="value" required>
    </div>
    <div class="co  l-12 col-sm-auto">
      <button
        class="btn btn-primary"
        type="button"
        (click)="findPrimes(value)">Submit</button>
    </div>
  </div>
  <app-disply *ngIf="show"
   [primesP]="primes"
   [runTimeP]="runTime"
   [valueP]="value"
   >
  </app-disply>
</div>
